body{
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}


/*******************DropDownSection*******************
 *                                                   *
 ****************************************************/ 
.ddSection{
  display : none; 
}
@media (max-width: 767px){
  .ddSection{
    display : block; 
  }
} 


/*********************** swal ************************
 *                                                   *
 ****************************************************/ 
.swal-button , div.swal-icon.swal-icon--success > span{
  background-color: #667eea;
}
.swal-icon--success{
  border-color: #667eea;
}

/******************** pagination *********************
 *                                                   *
 ****************************************************/ 
.paginator-container{
  display: flex !important;
  margin: 20px;
}
ul{
  list-style-type:none;
  display:flex;
  justify-content: center;

}
ul li{
  display: list-item;
  padding: 5px 5px;
  margin: 0 3px;
}
.paginator-container a{
  color: #3c366b !important;
  float: left !important;
  padding: 8px 16px !important;
  text-decoration: none !important;
}


/******************** scrollbar *********************
 *                                                  *
 ****************************************************/ 
.scrollbar{
    background: #F5F5F5;
}
#style-1::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px #3c366b;
    border-radius: 10px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #3c366b;
    background-color: #3c366b;
}

/********************** video ***********************
 *                                                  *
 ****************************************************/ 
#video{
  object-fit: initial;
  width: 100%;
  height: 100%;
}


/********************* loading **********************
 *                                                  *
 ****************************************************/ 
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-top: 20%;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #3c366b;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /**********************AnimeCard*********************
   *                                                  *
   ****************************************************/ 
  .card {
    background: url("../img/scaredDream.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    max-width: 550px !important;
    height: 275px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    /* wawy svg */
  }
  @media (max-width: 550px) {
    .card {
      margin-top: 25px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      height: auto;
      box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);
    }
  }
  .card .movie_image {
    min-width: 200px;
    padding: 0px 10px;
    display: flex;
    position: relative;
    z-index: 99;
  }
  @media (max-width: 520px) {
    .card .movie_image {
      display: flex;
      flex-basis: auto;
      margin: 0 auto;
      height: auto;
      padding: 10px 0;
      margin-bottom: 25px;
      overflow: hidden;
    }
  }
  .card .movie_image .movie_poster {
    width: 150px;
    height: 200px;
    margin: auto;
    border-radius: 3%;
  }
  .card .center {
    display: flex;
    align-items: center;
    vertical-align: center;
    position: relative;
    z-index: 99;
  }
  @media (max-width: 520px) {
    .card .center {
      padding: 10px 0px;
    }
  }
  .card .about_movie {
    flex-basis: 100%;
    padding: 0px 10px;
    position: relative;
    z-index: 99;
  }
  @media (max-width: 520px) {
    .card .about_movie {
      align-items: center;
      text-align: center;
    }
  }
  .card .about_movie h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .card .about_movie .movie_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
  @media (max-width: 520px) {
    .card .about_movie .movie_info {
      justify-content: space-around;
    }
  }
  .card .about_movie .movie_desc {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    position: relative;
    z-index: 99;
  }
  .card .wavy {
    position: absolute;
    bottom: calc(0px);
    fill: rgba(62, 52, 88, 0.89);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 0;
  }
  .card .watch {
    position: relative;
    z-index: 99;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
  }
  .card .watch:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .card .watch svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    fill: #fff;
  }
  .card .watchlist {
    position: relative;
    z-index: 99;
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
  }
  .card .watchlist:hover {
    color: white;
  }
  .card .watchlist svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    fill: white;
  }
  
  /* background */
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  
  .bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }